.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
}

.cross {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #ff0101;
    color: var(--text-color-light);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 30px 0 0 30px;
    border-radius: 5px;
    cursor: pointer;
}

.chart {
    width: 800px;
    margin: auto;
    padding: 30px 20px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid var(--bg-color-dark);
    border-radius: 20px;
}

.graph {
    width: 760px;
    height: 300px;
}

.name {
    display: flex;
    align-items: center;
    margin: 0 10px 30px;
}


.name img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.name p {
    font-size: 1.5rem;
    font-weight: 700;
}

.types {
    margin-top: 20px;
}

.types button {
    margin: 10px 20px;
    box-shadow: 2px 2px 15px var(--primary-color);
    background-color: var(--bg-color-light);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.types .selected {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0;
}

.details>div {
    display: flex;
    font-size: 1.1rem;
}

.details p {
    margin-right: 7px;
    color: var(--primary-color);
    font-weight: 700;
}

@media (max-width: 768px) {

    /* تنظیمات ریسپانسیو برای .container */
    .container {
        padding: 10px;
    }

    /* تنظیمات ریسپانسیو برای .cross */
    .cross {
        font-size: 1.2rem;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin: 20px 0 0 20px;
    }

    /* تنظیمات ریسپانسیو برای .chart */
    .chart {
        width: 100%;
        padding: 20px 10px;
        border-radius: 10px;
        margin-top: 5px;
    }

    /* تنظیمات ریسپانسیو برای .graph */
    .graph {
        width: 100%;
        height: 200px;
    }

    /* تنظیمات ریسپانسیو برای .name */
    .name {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .name img {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .name p {
        font-size: 1.2rem;
    }

    /* تنظیمات ریسپانسیو برای .types */
    .types button {
        font-size: 0.9rem;
        padding: 5px 8px;
        margin: 8px 10px;
    }

    /* تنظیمات ریسپانسیو برای .details */
    .details {
        flex-direction: column;
        align-items: flex-start;
        margin: 15px 10px 0;
    }

    .details>div {
        font-size: 1rem;
    }
}