.pagination {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
}

.pagination button {
    width: 80px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.pagination p {
    border: 1px solid var(--primary-color);
    width: 25px;
    text-align: center;
    border-radius: 5px;
}

.disable {
    opacity: 0.3;
}

.selected {
    background-color: var(--primary-color);
}

@media (max-width: 600px) {

    /* تنظیمات ریسپانسیو برای .pagination */
    .pagination {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        /* فاصله بین عناصر */
        margin-bottom: 50px;
        /* کاهش فاصله پایین */
    }

    /* تنظیمات ریسپانسیو برای دکمه‌های .pagination */
    .pagination button {
        width: 60px;
        font-size: 0.9rem;
        padding: 5px;
    }

    /* تنظیمات ریسپانسیو برای شماره صفحه .pagination p */
    .pagination p {
        width: 30px;
        font-size: 0.9rem;
    }
}