.searchBox {
    margin-top: 50px;
    position: relative;
}

.searchBox input {
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 1.1rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
}

.searchBox select:focus {
    outline: none;
}

.searchBox select {
    background-color: var(--secondary-color);
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    color: var(--text-color);
    padding: 0 10px;
    font-size: 1.1rem;
}

/* .searchBox select option {} */

.searchResult {
    position: absolute;
    text-align: center;
    top: 60px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    overflow-y: scroll;
    background-color: #18181c;
    border: 1px solid var(--color-border);
    padding: 20px;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.searchResult li {
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-border);
}

.searchResult li img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}