.searchBox {
    margin-top: 50px;
    position: relative;
    display: flex;
}

.searchBox input {
    width: 300px;
    height: 50px;
    color: var(--text-color-dark);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px 25px;
    background: var(--bg-color-light);
    box-shadow: 2px 2px 15px var(--primary-color);
}

.input:active {
    box-shadow: 2px 2px 15px var(--primary-color)inset;
}

.searchBox select:focus {
    outline: none;
}

.searchBox select {
    background-color: var(--bg-color-light);
    height: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin-left: 20px;
    color: var(--text-color);
    padding: 0 10px;
    font-size: 1.1rem;
    box-shadow: 2px 2px 15px var(--primary-color);
}


/* .searchBox select option {} */

.searchResult {
    position: absolute;
    text-align: center;
    top: 60px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: var(--bg-color-light);
    border: 1px solid var(--primary-color);
    padding: 20px;
    box-shadow: 2px 2px 15px var(--primary-color);

}

::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.searchResult li {
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-border);
}

.searchResult li img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

@media (max-width: 768px) {

    /* تنظیمات ریسپانسیو برای .searchBox */
    .searchBox {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    /* تنظیمات ریسپانسیو برای input */
    .searchBox input {
        width: 90%;
        margin-bottom: 10px;
    }

    /* تنظیمات ریسپانسیو برای select */
    .searchBox select {
        width: 90%;
        margin-left: 0;
    }

    /* تنظیمات ریسپانسیو برای .searchResult */
    .searchResult {
        width: 90%;
        top: 70px;
        height: 300px;
    }

    /* تنظیمات ریسپانسیو برای .searchResult li */
    .searchResult li {
        margin-bottom: 10px;
    }

    .searchResult li img {
        width: 20px;
        height: 20px;
    }
}

/* تنظیمات ریسپانسیو برای دستگاه‌های موبایل کوچک‌تر */
@media (max-width: 480px) {

    /* تنظیمات ریسپانسیو برای .searchBox */
    .searchBox input {
        width: 85%;
        padding: 10px;
    }

    .searchBox select {
        width: 85%;
    }

    /* تنظیمات ریسپانسیو برای .searchResult */
    .searchResult {
        height: 250px;
    }

    .searchResult li {
        font-size: 0.9rem;
    }
}