.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px 20px;
    margin-bottom: 150px;
    border-radius: 10px;
    color: var(--text-color-light);
}

.header a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
}

.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
    color: var(--text-color-light);
    font-size: 18px;
}

/* Media Query برای نمایشگرهای کوچک‌تر */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 10px;
        margin-bottom: 100px;
    }

    .header a {
        font-size: 1rem;
    }

    .footer {
        padding: 15px;
        margin-top: 50px;
        font-size: 16px;
    }
}